<div class="list-items">
    <div *ngIf="!items.length" class="no-items">
        <p>
            No items in the array
        </p>
        <button class="ui primary button">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Add Item
        </button>
    </div>
    
    <div *ngIf="items.length" class="ui middle aligned divided list">
        <button class="ui primary button" (click)="openItemCreateDialog()">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Add Item
        </button>
        <div class="item" *ngFor="let item of items">
            <div class="right floated content">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    <i class="fa fa-trash-o delete" (click)="deleteBucketlistItem(item.bucketlist_id, item.id)" aria-hidden="true"></i>
            </div>
            <div class="content">
                {{ item.name }}
            </div>
        </div>
    </div>
</div>

<div class="ui modal item-create">
  <i class="close icon"></i>
  <div class="header">
    Add Bucketlist Item
  </div>
  <div class="content">
    <form class="ui form">
      <div class="field">
        <label>Bucket name</label>
        <input id="item-name" #itemName placeholder="Add Item..." [value]="addItem" placeholder="item name">
      </div>
    </form>  
  </div>
  <div class="actions">
    <div class="ui positive right teal button" (click)="createBucketlist(bucketlistName.value); bucketlistName.value">
      <i class="fa fa-plus"></i> Create
    </div>
  </div>
</div>