<div class="bucketlists-holder">

  <div class="bucketlists">
    <h2>Bucketelist</h2>
    <form class="ui form">
      <div class="field">
        <label>Bucket name</label>
        <input id="bucket-name" #bucketlistName placeholder="Add bucketlist..." [value]="addBucket" placeholder="bucket name">
        <button class="ui fluid large teal submit button" (click)="createBucketlist(bucketlistName.value); bucketlistName.value">Create bucketlist</button>
      </div>
    </form>

    <p>This is a list of your buckets.</p>
    <ul>
      <li *ngFor="let bucketlistitem of bucketlists">
        <div class="ui middle aligned divided list">
          <div class="item">
            <div  (click)="getSingleBucket(bucketlistitem.id)" class="header">{{ bucketlistitem.name }}</div>
            
            <div class="action-btns">
              <i class="fa fa-trash-o" (click)="deleteBucket(bucketlistitem.id)" aria-hidden="true"></i>
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </div>

          </div>
        </div>
        <hr />
      </li>
    </ul>
  </div>

  <div class="list-items">
    <router-outlet></router-outlet>
  </div>

</div>