<div class="bucketlists-holder">
  <!-- Search here -->
    <div class="ui form">
      <div class="field">
        <input #searchData [(ngModel)]="searchTerm" placeholder="Search bucketlist ..." required>
      </div>
    </div>
    <button class="ui button" (click)="openCreateDialog()">add bucket</button>

  <div class="bucketlists">
    <h2>Bucketelist</h2>

    <p>This is a list of your buckets.</p>
    <ul>
      <li *ngFor="let bucketlistitem of bucketlists | search : searchTerm">
        <div class="ui middle aligned divided list">
          <div class="item">
            <div  (click)="getSingleBucket(bucketlistitem.id)" class="header">{{ bucketlistitem.name }}</div>
            
            <div class="action-btns">
              <i class="fa fa-trash-o" (click)="deleteBucket(bucketlistitem.id)" aria-hidden="true"></i>
              <i class="fa fa-pencil" aria-hidden="true" (click)="openUpdateDialog(bucketlistitem.id)"></i>
            </div>

          </div>
        </div>
        <hr />
      </li>
    </ul>
  </div>

  <div class="list-items">
    <router-outlet></router-outlet>
  </div>

</div>

<!-- Create bucketlist modal -->
<div class="ui modal bucket-create">
  <i class="close icon"></i>
  <div class="header">
    Create Bucketlist
  </div>
  <div class="content">
    <form class="ui form">
      <div class="field">
        <label>Bucket name</label>
        <input id="bucket-name" #bucketlistName placeholder="Add bucketlist..." [value]="addBucket" placeholder="bucket name">
      </div>
    </form>  
  </div>
  <div class="actions">
    <div class="ui positive right teal button" (click)="createBucketlist(bucketlistName.value); bucketlistName.value">
      <i class="fa fa-plus"></i> Create
    </div>
  </div>
</div>

<!-- Update bucketlist modal -->
<div class="ui modal bucket-update">
  <i class="close icon"></i>
  <div class="header">
    Update Bucketlist
  </div>
  <div class="content">
    <form class="ui form">
      <div class="field">
        <label>Bucket name</label>
        <input id="bucket-name" #bucketlistName placeholder="Add bucketlist..." [value]="addBucket" placeholder="bucket name">
      </div>
    </form>  
  </div>
  <div class="actions">
    <div class="ui positive right teal button" (click)="updateBucketlist(bucketlistName.value); bucketlistName.value">
      <i class="fa fa-plus"></i> Update
    </div>
  </div>
</div>